<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tag_pro_profile.user.name %>
</p>

<p>
  <strong>Server:</strong>
  <%= @tag_pro_profile.server %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @tag_pro_profile.uid %>
</p>

<%= link_to 'Edit', edit_tag_pro_profile_path %>
